<div>
  <h1>Publish a new post</h1>

  <form method="post">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td class="vert-aligned" width="85%" rowspan="2">
            <textarea class="form-control" rows="3" placeholder="Write Caption here" name="caption" 
                      [(ngModel)]="newPost.caption"></textarea>
          </td>
          <td class="vert-aligned" align="center">
            <div class="checkbox">
              <label><input type="checkbox" name="isPublic" [(ngModel)]="newPost.isPublic">Public?</label>
            </div>  
          </td>
        </tr>
        <tr>
          <td class="vert-aligned" align="center">
            <button type="submit" class="btn btn-success" (click)="publish()">Publish</button>        
          </td>
        </tr>
        <tr>
          <td class="vert-aligned" align="center" colspan="2">
            <label for="image">Image:</label>
            <input class="form-control" type="file" id="image" #fileInput (change)="onFileChanged($event)" name="image">
            <img [src]="newPost.getImage()" class="img-thumbnail" align="center" style="max-height: 500px; max-width: 500px;"/>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>