<div class="row">
  <input type="text" class="form-control col-md-7 margin-padding" [(ngModel)]="query" placeholder="Search">
  <button class="btn btn-primary margin-padding col-md-2" (click)="searchPeople()">Search People</button>
  <button class="btn btn-primary margin-padding col-md-2">Search Posts</button>
</div>

<div *ngIf="searchType == 0">
  <h2 *ngIf="searchResults.length == 0">No results!</h2>
  <h2 *ngIf="searchResults.length != 0">Found {{searchResults.length}} user(s)</h2>

  <div *ngFor="let user of searchResults">
    <div class="row">
      <img [src]="user.getProfilePic()" class="img-thumbnail col-md-2" style="max-height: 60px; max-width: 70px;"/>
      <h4 class="col-md-2">{{user.getDisplayName()}}</h4>
      <h4 class="col-md-2">{{user.email}}</h4>
      <h4 class="col-md-2">{{user.hometown}}</h4>
      <h4 class="col-md-2">{{user.phone}}</h4>
      <h4 class="col-md-2">{{user.birthdate}}</h4>
    </div>
  </div>
</div>