<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark row">
    <div class="col-md-6"></div>
    <form class="form-inline col-md-10" method="post" style="margin: 10px">
      <input  type="email" class="form-control" style="margin: 10px" 
              name="email" required [(ngModel)]="loginEmail" placeholder="Email">
      <input  type="password" class="form-control" style="margin: 10px" 
              name="password" required [(ngModel)]="loginPassword" placeholder="Password">
      <button type="submit" class="btn btn-success col-md-1" (click)="login()">Login</button>
    </form>
    <div class="col-md-1"></div>
</nav>