<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark row">
    <div class="col-md-6"></div>
    <form class="form-inline col-md-10 margin-padding" method="post">
      <input  type="email" class="form-control margin-padding"
              name="email" required [(ngModel)]="loginEmail" placeholder="Email">
      <input  type="password" class="form-control margin-padding"
              name="password" required [(ngModel)]="loginPassword" placeholder="Password">
      <button type="submit" class="btn btn-success col-md-1 margin-padding" (click)="login()">Login</button>
    </form>
    <div class="col-md-1"></div>
</nav>

<div>
  <h1>Welcome to Trainer Pokédex social network!</h1>
  <h3>Don't have an account yet? Register now</h3>

  <form method="post">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td>
            <input  type="text" class="form-control" name="fname"
                    required [(ngModel)]="user.firstName" #fname="ngModel"  placeholder="First Name">
            <div [hidden]="fname.valid || fname.pristine"
                 class="alert alert-danger">
              First name is required
            </div>      
          </td>
          <td>
            <input  type="text" class="form-control" name="lname"
                    required [(ngModel)]="user.lastName" #lname="ngModel"  placeholder="Last Name">
            <div [hidden]="lname.valid || lname.pristine"
                 class="alert alert-danger">
              Last name is required
            </div>      
          </td>
          <td>
            <input  type="text" class="form-control" name="nname"
                    [(ngModel)]="user.nickname" #nname="ngModel"  placeholder="Nickname">
          </td>
          <td>
            <input  type="text" class="form-control" name="hometown"
                    [(ngModel)]="user.hometown" #hometown="ngModel" placeholder="Hometown">      
          </td>
        </tr>
        <tr>
          <td>
            <input  type="email" class="{{emailClass()}}" name="email" email required 
                    [(ngModel)]="user.email" #email="ngModel" placeholder="Email">
            <div [hidden]="validateEmail()" class="alert alert-danger">
              Please enter a valid email
            </div>
          </td>
          <td>
            <input  type="password" class="form-control" name="password" required 
                    [(ngModel)]="user.password" #pwd="ngModel" placeholder="Password">
            <div [hidden]="pwd.valid || pwd.pristine"
                 class="alert alert-danger">
              password is required
            </div>
          </td>
          <td>
            <input  type="password" class="{{repPwdClass()}}" name="password2" required 
                    [(ngModel)]="repeatedPassword" #pwd2="ngModel" placeholder="Repeat Password">
            <div [hidden]="checkPassword()"
                 class="alert alert-danger">
              Passwords do not match
            </div>      
          </td>
          <td>
            <input  type="text" class="form-control" name="phone"
                    [(ngModel)]="user.phone" #phone="ngModel" placeholder="Phone Number">      
          </td>
        </tr>
        <tr>
          <td align="center">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="genderLabel" 
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{genderText()}}
              </button>
              <div class="dropdown-menu" aria-labelledby="genderLabel">
                <button class="dropdown-item" type="button" (click)="chooseGender(true)">Male</button>
                <button class="dropdown-item" type="button" (click)="chooseGender(false)">Female</button>
              </div>
            </div>
          </td>
          <td align="center">
            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" placeholder="Birthdate"></my-date-picker>
          </td>
          <td align="center">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="maritalLabel" 
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{maritalText()}}
              </button>
              <div class="dropdown-menu" aria-labelledby="maritalLabel">
                <button class="dropdown-item" type="button" (click)="chooseMarital(0)">Single</button>
                <button class="dropdown-item" type="button" (click)="chooseMarital(1)">Engaged</button>
                <button class="dropdown-item" type="button" (click)="chooseMarital(2)">Married</button>
              </div>
            </div>
          </td>
          <td align="center">
            <button type="submit" class="btn btn-success" (click)="register()">Register</button>        
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>